@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>UPN: @ViewData["UPN"]</p>
<p>token: @ViewData["token"]</p>
